/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 90, ../sass/screen.scss */
a {
  color: black;
  text-decoration: none;
}
/* line 93, ../sass/screen.scss */
a:hover .titulo {
  color: navy;
  text-decoration: underline;
}

/* line 98, ../sass/screen.scss */
body {
  font: normal 14px/20px Helvetica, Arial;
}

/* line 102, ../sass/screen.scss */
#loader_background {
  display: none;
  font: normal 16px/20px Helvetica, Arial;
  color: black;
  background: rgba(230, 230, 230, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 300;
}
/* line 112, ../sass/screen.scss */
#loader_background #loader_image {
  position: absolute;
  top: 50%;
  left: 50%;
  background: url(../images/loader_image.gif) no-repeat;
  width: 32px;
  height: 32px;
  opacity: 0.75;
}

/* line 123, ../sass/screen.scss */
header {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: black;
  z-index: 400;
}
/* line 129, ../sass/screen.scss */
header #cabecera {
  width: 1152px;
  color: white;
  margin-right: auto;
  margin-left: auto;
}
/* line 134, ../sass/screen.scss */
header #cabecera #botones {
  display: table;
}
/* line 136, ../sass/screen.scss */
header #cabecera #botones h1 {
  height: 60px;
  width: 200px;
  display: table-cell;
  vertical-align: middle;
  z-index: 40;
}
/* line 142, ../sass/screen.scss */
header #cabecera #botones h1 a {
  display: block;
  color: white;
  font-size: 20px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
}
/* line 146, ../sass/screen.scss */
header #cabecera #botones section.tweet {
  background: url(../images/dialog_mark.png) no-repeat 0 0;
  padding-left: 35px;
  padding-right: 35px;
  border-right: solid 1px white;
  height: 60px;
  width: 65%;
  display: table-cell;
  vertical-align: middle;
}
/* line 155, ../sass/screen.scss */
header #cabecera #botones section.tweet p {
  color: white;
  font-size: 14px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
}
/* line 159, ../sass/screen.scss */
header #cabecera #botones section.socialButtons {
  height: 60px;
  width: 18%;
  display: table-cell;
  vertical-align: middle;
}
/* line 164, ../sass/screen.scss */
header #cabecera #botones section.socialButtons .facebook a {
  background: url(../images/FacebookIcon.png) no-repeat;
  background-position: center 12px;
}
/* line 168, ../sass/screen.scss */
header #cabecera #botones section.socialButtons .twitter a {
  background: url(../images/TwitterIcon.png) no-repeat;
  background-position: center 12px;
}
/* line 172, ../sass/screen.scss */
header #cabecera #botones section.socialButtons a {
  box-sizing: border-box;
  float: right;
  width: 70px;
  padding-top: 35px;
  padding-left: 10px;
  padding-right: 10px;
  display: table-cell;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.75);
  font-size: 11px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
}
/* line 187, ../sass/screen.scss */
header #cabecera #botones section.socialButtons a:hover {
  color: white;
  background-position: center -36px;
}

/* line 196, ../sass/screen.scss */
footer {
  padding-top: 40px;
  padding-bottom: 40px;
  clear: both;
  display: block;
  color: #888;
  font-size: 10px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
  text-align: center;
}

/* line 204, ../sass/screen.scss */
#cuerpo {
  width: 1152px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
}
/* line 209, ../sass/screen.scss */
#cuerpo ul {
  width: 1152px;
}
/* line 211, ../sass/screen.scss */
#cuerpo ul li {
  height: 300px;
  float: left;
  position: relative;
}
/* line 215, ../sass/screen.scss */
#cuerpo ul li.una-col:last-child a {
  width: 193px;
  border-right: 1px solid #dcdcdc;
}
/* line 219, ../sass/screen.scss */
#cuerpo ul li.dos-col:last-child a {
  width: 385px;
  border-right: 1px solid #dcdcdc;
}
/* line 223, ../sass/screen.scss */
#cuerpo ul li a {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 15px;
  height: 300px;
  border-left: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}
/* line 232, ../sass/screen.scss */
#cuerpo ul li a.cierrefila {
  border-right: 1px solid #dcdcdc;
}
/* line 235, ../sass/screen.scss */
#cuerpo ul li a.fila1 {
  border-top: 1px solid #dcdcdc;
}
/* line 238, ../sass/screen.scss */
#cuerpo ul li a .miniatura {
  box-sizing: border-box;
  overflow: hidden;
}
/* line 242, ../sass/screen.scss */
#cuerpo ul li a .texto {
  box-sizing: border-box;
}
/* line 244, ../sass/screen.scss */
#cuerpo ul li a .texto .subtitulo {
  display: block;
  color: #888;
  font-size: 12px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
}
/* line 248, ../sass/screen.scss */
#cuerpo ul li a .fecha {
  box-sizing: border-box;
  display: block;
  color: #888;
  font-size: 10px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
  text-align: right;
  position: absolute;
  right: 30px;
  bottom: 6px;
}
/* line 256, ../sass/screen.scss */
#cuerpo ul li a .icono {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 8px;
  bottom: 8px;
  background: url(../images/iconos.png) no-repeat;
}
/* line 263, ../sass/screen.scss */
#cuerpo ul li a .icono.proyecto {
  background-position: 0 0px;
}
/* line 266, ../sass/screen.scss */
#cuerpo ul li a .icono.libro {
  background-position: 0 -20px;
}
/* line 269, ../sass/screen.scss */
#cuerpo ul li a .icono.foto {
  background-position: 0 -40px;
}
/* line 272, ../sass/screen.scss */
#cuerpo ul li a .icono.video {
  background-position: 0 -60px;
}
/* line 275, ../sass/screen.scss */
#cuerpo ul li a .icono.texto, #cuerpo ul li a .icono.articulo {
  background-position: 0 -80px;
}
/* line 278, ../sass/screen.scss */
#cuerpo ul li a .icono.pelicula {
  background-position: 0 -100px;
}
/* line 281, ../sass/screen.scss */
#cuerpo ul li a .icono.link {
  background-position: 0 -120px;
}

/*Estilos de vistas individuales*/
/* line 290, ../sass/screen.scss */
.colorbackground-fullscreen {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 1000px;
  z-index: -300;
}

/* line 299, ../sass/screen.scss */
.image-fullscreen {
  background: 50% 50% no-repeat;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 1000px;
  z-index: -200;
}

/* line 310, ../sass/screen.scss */
#cuerpo {
  padding-top: 120px;
}
/* line 312, ../sass/screen.scss */
#cuerpo .tituloPost {
  display: block;
  font-size: 20px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 30px;
}
/* line 315, ../sass/screen.scss */
#cuerpo .subtituloPost {
  display: block;
  opacity: 0.65;
  font-size: 16px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
  padding-bottom: 40px;
}
/* line 318, ../sass/screen.scss */
#cuerpo .bodyPost p {
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-family: Helvetica,Arial,sans-serif;
  padding-bottom: 20px;
}
/* line 322, ../sass/screen.scss */
#cuerpo.video iframe, #cuerpo.video object {
  margin-right: auto;
  margin-left: auto;
  display: table-cell;
}
/* line 327, ../sass/screen.scss */
#cuerpo.video .bottomDescription {
  color: white;
  width: 850px;
  padding-top: 50px;
  margin: auto;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}
/* line 341, ../sass/screen.scss */
#cuerpo.libro .leftColumn {
  box-sizing: border-box;
  padding-right: 30px;
  width: 576px;
  float: left;
  z-index: 100;
}
/* line 348, ../sass/screen.scss */
#cuerpo.libro .cover {
  padding-top: 30px;
  display: table;
  width: 576px;
  float: right;
}
/* line 353, ../sass/screen.scss */
#cuerpo.libro .cover img {
  margin-right: auto;
  margin-left: auto;
  display: table-cell;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
}
/* line 361, ../sass/screen.scss */
#cuerpo.libro .cover figcaption {
  text-align: center;
  padding-top: 10px;
  display: block;
  color: #888;
  font-size: 10px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
}
/* line 369, ../sass/screen.scss */
#cuerpo.post .leftColumn {
  min-height: 700px;
  box-sizing: border-box;
  padding-right: 30px;
  width: 480px;
  float: left;
  z-index: 100;
}

/*Estilos de anchos de columna*/
/*Estilos de imagenes*/
/*Estilos de texto*/
/*Layouts*/
/* line 695, ../sass/screen.scss */
#cuerpo ul li.texto.una-col {
  width: 192px;
}
/* line 383, ../sass/screen.scss */
#cuerpo ul li.texto.una-col a {
  width: 192px;
}
/* line 605, ../sass/screen.scss */
#cuerpo ul li.texto.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 20px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 10px;
}
/* line 700, ../sass/screen.scss */
#cuerpo ul li.articulo.una-col {
  width: 192px;
}
/* line 383, ../sass/screen.scss */
#cuerpo ul li.articulo.una-col a {
  width: 192px;
}
/* line 417, ../sass/screen.scss */
#cuerpo ul li.articulo.una-col .miniatura {
  margin-bottom: 10px;
  width: 160px;
  height: 94px;
}
/* line 421, ../sass/screen.scss */
#cuerpo ul li.articulo.una-col .miniatura img {
  width: 160px;
}
/* line 611, ../sass/screen.scss */
#cuerpo ul li.articulo.una-col .texto {
  padding-top: 10px;
}
/* line 613, ../sass/screen.scss */
#cuerpo ul li.articulo.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
/* line 705, ../sass/screen.scss */
#cuerpo ul li.video.una-col {
  width: 192px;
}
/* line 383, ../sass/screen.scss */
#cuerpo ul li.video.una-col a {
  width: 192px;
}
/* line 427, ../sass/screen.scss */
#cuerpo ul li.video.una-col .miniatura {
  margin-bottom: 10px;
  width: 160px;
  height: 94px;
}
/* line 431, ../sass/screen.scss */
#cuerpo ul li.video.una-col .miniatura img {
  width: 160px;
}
/* line 434, ../sass/screen.scss */
#cuerpo ul li.video.una-col .miniatura .icono_miniatura {
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  z-index: 10;
  width: 160px;
  height: 94px;
  background: url(../images/video_icon_small.png) no-repeat;
  background-position-x: 46px;
  background-position-y: 22px;
}
/* line 444, ../sass/screen.scss */
#cuerpo ul li.video.una-col .miniatura .icono_miniatura:hover {
  background: url(../images/video_icon_small.png) no-repeat;
  background-position-x: 46px;
  background-position-y: -128px;
}
/* line 611, ../sass/screen.scss */
#cuerpo ul li.video.una-col .texto {
  padding-top: 10px;
}
/* line 613, ../sass/screen.scss */
#cuerpo ul li.video.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
/* line 406, ../sass/screen.scss */
#cuerpo ul li.video.una-col a {
  background-color: #f8f8f8;
  -moz-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
}
/* line 711, ../sass/screen.scss */
#cuerpo ul li.proyecto.una-col {
  width: 192px;
}
/* line 582, ../sass/screen.scss */
#cuerpo ul li.proyecto.una-col .miniatura {
  width: 174px;
  height: 282px;
}
/* line 585, ../sass/screen.scss */
#cuerpo ul li.proyecto.una-col .miniatura img {
  height: 282px;
}
/* line 619, ../sass/screen.scss */
#cuerpo ul li.proyecto.una-col .texto {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(255, 255, 255, 0.9);
  height: 206px;
  width: 192px;
}
/* line 629, ../sass/screen.scss */
#cuerpo ul li.proyecto.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
/* line 383, ../sass/screen.scss */
#cuerpo ul li.proyecto.una-col a {
  width: 192px;
}
/* line 389, ../sass/screen.scss */
#cuerpo ul li.proyecto.una-col a {
  padding: 8px;
}
/* line 719, ../sass/screen.scss */
#cuerpo ul li.articulo.dos-col,
#cuerpo ul li.link.dos-col,
#cuerpo ul li.pelicula.dos-col, #cuerpo ul li.documento.dos-col {
  width: 384px;
}
/* line 395, ../sass/screen.scss */
#cuerpo ul li.articulo.dos-col a,
#cuerpo ul li.link.dos-col a,
#cuerpo ul li.pelicula.dos-col a, #cuerpo ul li.documento.dos-col a {
  width: 384px;
}
/* line 555, ../sass/screen.scss */
#cuerpo ul li.articulo.dos-col .miniatura,
#cuerpo ul li.link.dos-col .miniatura,
#cuerpo ul li.pelicula.dos-col .miniatura, #cuerpo ul li.documento.dos-col .miniatura {
  margin-right: 15px;
  width: 177px;
  height: 270px;
}
/* line 559, ../sass/screen.scss */
#cuerpo ul li.articulo.dos-col .miniatura img,
#cuerpo ul li.link.dos-col .miniatura img,
#cuerpo ul li.pelicula.dos-col .miniatura img, #cuerpo ul li.documento.dos-col .miniatura img {
  height: 270px;
}
/* line 635, ../sass/screen.scss */
#cuerpo ul li.articulo.dos-col .texto,
#cuerpo ul li.link.dos-col .texto,
#cuerpo ul li.pelicula.dos-col .texto, #cuerpo ul li.documento.dos-col .texto {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  height: 300px;
  width: 192px;
  bottom: 0px;
  left: 192px;
}
/* line 643, ../sass/screen.scss */
#cuerpo ul li.articulo.dos-col .texto .titulo,
#cuerpo ul li.link.dos-col .texto .titulo,
#cuerpo ul li.pelicula.dos-col .texto .titulo, #cuerpo ul li.documento.dos-col .texto .titulo {
  display: block;
  color: black;
  font-size: 20px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 10px;
}
/* line 724, ../sass/screen.scss */
#cuerpo ul li.libro.dos-col {
  width: 384px;
}
/* line 395, ../sass/screen.scss */
#cuerpo ul li.libro.dos-col a {
  width: 384px;
}
/* line 565, ../sass/screen.scss */
#cuerpo ul li.libro.dos-col .miniatura {
  margin-right: 15px;
  width: 177px;
  height: 270px;
}
/* line 569, ../sass/screen.scss */
#cuerpo ul li.libro.dos-col .miniatura img {
  margin-top: 5px;
  height: 260px;
  margin-right: auto;
  margin-left: auto;
  display: table-cell;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
/* line 635, ../sass/screen.scss */
#cuerpo ul li.libro.dos-col .texto {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  height: 300px;
  width: 192px;
  bottom: 0px;
  left: 192px;
}
/* line 643, ../sass/screen.scss */
#cuerpo ul li.libro.dos-col .texto .titulo {
  display: block;
  color: black;
  font-size: 20px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 10px;
}
/* line 729, ../sass/screen.scss */
#cuerpo ul li.proyecto.dos-col {
  width: 384px;
}
/* line 395, ../sass/screen.scss */
#cuerpo ul li.proyecto.dos-col a {
  width: 384px;
}
/* line 401, ../sass/screen.scss */
#cuerpo ul li.proyecto.dos-col a {
  padding: 8px;
}
/* line 591, ../sass/screen.scss */
#cuerpo ul li.proyecto.dos-col .miniatura {
  width: 366px;
  height: 282px;
}
/* line 594, ../sass/screen.scss */
#cuerpo ul li.proyecto.dos-col .miniatura img {
  height: 282px;
}
/* line 635, ../sass/screen.scss */
#cuerpo ul li.proyecto.dos-col .texto {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  height: 300px;
  width: 192px;
  bottom: 0px;
  left: 192px;
}
/* line 643, ../sass/screen.scss */
#cuerpo ul li.proyecto.dos-col .texto .titulo {
  display: block;
  color: black;
  font-size: 20px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 10px;
}
/* line 735, ../sass/screen.scss */
#cuerpo ul li.link.una-col {
  width: 192px;
}
/* line 383, ../sass/screen.scss */
#cuerpo ul li.link.una-col a {
  width: 192px;
}
/* line 512, ../sass/screen.scss */
#cuerpo ul li.link.una-col .miniatura {
  margin-bottom: 10px;
  width: 160px;
  max-height: 190px;
  display: table;
}
/* line 517, ../sass/screen.scss */
#cuerpo ul li.link.una-col .miniatura img {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
  vertical-align: middle;
  display: table-cell;
  width: 152px;
  margin: 4px;
}
/* line 650, ../sass/screen.scss */
#cuerpo ul li.link.una-col .texto {
  padding-top: 10px;
}
/* line 652, ../sass/screen.scss */
#cuerpo ul li.link.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
/* line 406, ../sass/screen.scss */
#cuerpo ul li.link.una-col a {
  background-color: #f8f8f8;
  -moz-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
}
/* line 743, ../sass/screen.scss */
#cuerpo ul li.foto.dos-col,
#cuerpo ul li.presentacion.dos-col {
  width: 384px;
}
/* line 395, ../sass/screen.scss */
#cuerpo ul li.foto.dos-col a,
#cuerpo ul li.presentacion.dos-col a {
  width: 384px;
}
/* line 489, ../sass/screen.scss */
#cuerpo ul li.foto.dos-col .miniatura,
#cuerpo ul li.presentacion.dos-col .miniatura {
  margin-bottom: 10px;
  width: 352px;
  height: 270px;
}
/* line 493, ../sass/screen.scss */
#cuerpo ul li.foto.dos-col .miniatura img,
#cuerpo ul li.presentacion.dos-col .miniatura img {
  height: 270px;
}
/* line 666, ../sass/screen.scss */
#cuerpo ul li.foto.dos-col .texto,
#cuerpo ul li.presentacion.dos-col .texto {
  text-align: right;
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  width: 160px;
  height: 80px;
  left: 15px;
  border: 1px solid silver;
  bottom: 13px;
  padding: 5px;
}
/* line 676, ../sass/screen.scss */
#cuerpo ul li.foto.dos-col .texto .titulo,
#cuerpo ul li.presentacion.dos-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
/* line 685, ../sass/screen.scss */
#cuerpo ul li.foto.dos-col .texto,
#cuerpo ul li.presentacion.dos-col .texto {
  width: 352px;
}
/* line 749, ../sass/screen.scss */
#cuerpo ul li.video.dos-col {
  width: 384px;
}
/* line 395, ../sass/screen.scss */
#cuerpo ul li.video.dos-col a {
  width: 384px;
}
/* line 464, ../sass/screen.scss */
#cuerpo ul li.video.dos-col .miniatura {
  margin-bottom: 10px;
  width: 352px;
  height: 190px;
}
/* line 468, ../sass/screen.scss */
#cuerpo ul li.video.dos-col .miniatura img {
  width: 352px;
}
/* line 471, ../sass/screen.scss */
#cuerpo ul li.video.dos-col .miniatura .icono_miniatura {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -87.5px;
  margin-left: -50px;
  z-index: 10;
  width: 352px;
  height: 268px;
  background: url(../images/video_icon.png) no-repeat;
}
/* line 481, ../sass/screen.scss */
#cuerpo ul li.video.dos-col .miniatura .icono_miniatura:hover {
  background: url(../images/video_icon.png) no-repeat;
  background-position: 0 -300px;
}
/* line 658, ../sass/screen.scss */
#cuerpo ul li.video.dos-col .texto {
  padding-top: 10px;
}
/* line 660, ../sass/screen.scss */
#cuerpo ul li.video.dos-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
/* line 755, ../sass/screen.scss */
#cuerpo ul li.pelicula.una-col {
  width: 192px;
}
/* line 383, ../sass/screen.scss */
#cuerpo ul li.pelicula.una-col a {
  width: 192px;
}
/* line 499, ../sass/screen.scss */
#cuerpo ul li.pelicula.una-col .miniatura {
  margin-bottom: 10px;
  width: 160px;
  height: 190px;
  display: table;
}
/* line 504, ../sass/screen.scss */
#cuerpo ul li.pelicula.una-col .miniatura img {
  vertical-align: middle;
  display: table-cell;
  width: 160px;
}
/* line 650, ../sass/screen.scss */
#cuerpo ul li.pelicula.una-col .texto {
  padding-top: 10px;
}
/* line 652, ../sass/screen.scss */
#cuerpo ul li.pelicula.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
/* line 406, ../sass/screen.scss */
#cuerpo ul li.pelicula.una-col a {
  background-color: #f8f8f8;
  -moz-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
}
/* line 761, ../sass/screen.scss */
#cuerpo ul li.documento.una-col {
  width: 192px;
}
/* line 383, ../sass/screen.scss */
#cuerpo ul li.documento.una-col a {
  width: 192px;
}
/* line 499, ../sass/screen.scss */
#cuerpo ul li.documento.una-col .miniatura {
  margin-bottom: 10px;
  width: 160px;
  height: 190px;
  display: table;
}
/* line 504, ../sass/screen.scss */
#cuerpo ul li.documento.una-col .miniatura img {
  vertical-align: middle;
  display: table-cell;
  width: 160px;
}
/* line 650, ../sass/screen.scss */
#cuerpo ul li.documento.una-col .texto {
  padding-top: 10px;
}
/* line 652, ../sass/screen.scss */
#cuerpo ul li.documento.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
/* line 766, ../sass/screen.scss */
#cuerpo ul li.libro.una-col {
  width: 192px;
}
/* line 383, ../sass/screen.scss */
#cuerpo ul li.libro.una-col a {
  width: 192px;
}
/* line 532, ../sass/screen.scss */
#cuerpo ul li.libro.una-col .miniatura {
  float: left;
  margin-bottom: 10px;
  width: 160px;
  height: 190px;
}
/* line 537, ../sass/screen.scss */
#cuerpo ul li.libro.una-col .miniatura img {
  height: 185px;
  margin-right: auto;
  margin-left: auto;
  display: table-cell;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
/* line 650, ../sass/screen.scss */
#cuerpo ul li.libro.una-col .texto {
  padding-top: 10px;
}
/* line 652, ../sass/screen.scss */
#cuerpo ul li.libro.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
/* line 406, ../sass/screen.scss */
#cuerpo ul li.libro.una-col a {
  background-color: #f8f8f8;
  -moz-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
}
/* line 774, ../sass/screen.scss */
#cuerpo ul li.presentacion.una-col,
#cuerpo ul li.foto.una-col {
  width: 192px;
}
/* line 383, ../sass/screen.scss */
#cuerpo ul li.presentacion.una-col a,
#cuerpo ul li.foto.una-col a {
  width: 192px;
}
/* line 549, ../sass/screen.scss */
#cuerpo ul li.presentacion.una-col .miniatura,
#cuerpo ul li.foto.una-col .miniatura {
  width: 160px;
  height: 270px;
}
/* line 666, ../sass/screen.scss */
#cuerpo ul li.presentacion.una-col .texto,
#cuerpo ul li.foto.una-col .texto {
  text-align: right;
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  width: 160px;
  height: 80px;
  left: 15px;
  border: 1px solid silver;
  bottom: 13px;
  padding: 5px;
}
/* line 676, ../sass/screen.scss */
#cuerpo ul li.presentacion.una-col .texto .titulo,
#cuerpo ul li.foto.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
