/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 83, ../sass/screen.scss */
a {
  color: black;
  text-decoration: none;
}
/* line 86, ../sass/screen.scss */
a:hover .titulo {
  color: navy;
  text-decoration: underline;
}

/* line 91, ../sass/screen.scss */
body {
  font: normal 14px/20px Helvetica, Arial;
}

/* line 96, ../sass/screen.scss */
header {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: black;
  z-index: 20;
}
/* line 102, ../sass/screen.scss */
header #cabecera {
  width: 1152px;
  color: white;
  margin-right: auto;
  margin-left: auto;
}
/* line 107, ../sass/screen.scss */
header #cabecera #botones {
  display: table;
}
/* line 109, ../sass/screen.scss */
header #cabecera #botones h1 {
  height: 60px;
  width: 200px;
  display: table-cell;
  vertical-align: middle;
  z-index: 40;
}
/* line 115, ../sass/screen.scss */
header #cabecera #botones h1 a {
  display: block;
  color: white;
  font-size: 20px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
}
/* line 119, ../sass/screen.scss */
header #cabecera #botones section.tweet {
  background: url(../images/dialog_mark.png) no-repeat 0 0;
  padding-left: 35px;
  padding-right: 35px;
  border-right: solid 1px white;
  height: 60px;
  width: 65%;
  display: table-cell;
  vertical-align: middle;
}
/* line 128, ../sass/screen.scss */
header #cabecera #botones section.tweet p {
  color: white;
  font-size: 14px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
}
/* line 132, ../sass/screen.scss */
header #cabecera #botones section.socialButtons {
  height: 60px;
  width: 18%;
  display: table-cell;
  vertical-align: middle;
}
/* line 137, ../sass/screen.scss */
header #cabecera #botones section.socialButtons .facebook a {
  background: url(../images/FacebookIcon.png) no-repeat;
  background-position: center 12px;
}
/* line 141, ../sass/screen.scss */
header #cabecera #botones section.socialButtons .twitter a {
  background: url(../images/TwitterIcon.png) no-repeat;
  background-position: center 12px;
}
/* line 145, ../sass/screen.scss */
header #cabecera #botones section.socialButtons a {
  box-sizing: border-box;
  float: right;
  width: 70px;
  padding-top: 35px;
  padding-left: 10px;
  padding-right: 10px;
  display: table-cell;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.75);
  font-size: 11px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
}
/* line 160, ../sass/screen.scss */
header #cabecera #botones section.socialButtons a:hover {
  color: white;
  background-position: center -36px;
}

/* line 169, ../sass/screen.scss */
footer {
  padding-top: 40px;
  padding-bottom: 40px;
  clear: both;
  display: block;
  color: #888;
  font-size: 10px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
  text-align: center;
}

/* line 177, ../sass/screen.scss */
.cuerpo {
  width: 1152px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
}

/* line 183, ../sass/screen.scss */
.cuerpo ul {
  width: 1152px;
}

/* line 186, ../sass/screen.scss */
.cuerpo li {
  height: 300px;
  float: left;
  position: relative;
}
/* line 190, ../sass/screen.scss */
.cuerpo li.una-col:last-child a {
  width: 193px;
  border-right: 1px solid #dcdcdc;
}
/* line 194, ../sass/screen.scss */
.cuerpo li.dos-col:last-child a {
  width: 385px;
  border-right: 1px solid #dcdcdc;
}
/* line 198, ../sass/screen.scss */
.cuerpo li a {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 15px;
  height: 300px;
  border-left: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}
/* line 207, ../sass/screen.scss */
.cuerpo li a.cierrefila {
  border-right: 1px solid #dcdcdc;
}
/* line 210, ../sass/screen.scss */
.cuerpo li a.fila1 {
  border-top: 1px solid #dcdcdc;
}
/* line 213, ../sass/screen.scss */
.cuerpo li a .miniatura {
  box-sizing: border-box;
  margin: 0px;
  overflow: hidden;
  display: block;
  text-align: center;
  vertical-align: middle;
}
/* line 220, ../sass/screen.scss */
.cuerpo li a .miniatura img {
  display: inline;
}
/* line 224, ../sass/screen.scss */
.cuerpo li a .texto {
  box-sizing: border-box;
  height: 268px;
}
/* line 227, ../sass/screen.scss */
.cuerpo li a .texto .subtitulo {
  display: block;
  color: #888;
  font-size: 12px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
  display: block;
}
/* line 232, ../sass/screen.scss */
.cuerpo li a .fecha {
  box-sizing: border-box;
  display: block;
  color: #888;
  font-size: 10px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
  text-align: right;
  position: absolute;
  right: 30px;
  bottom: 6px;
}
/* line 240, ../sass/screen.scss */
.cuerpo li a .icono {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 8px;
  bottom: 8px;
  background: url(../images/iconos.png) no-repeat;
}
/* line 247, ../sass/screen.scss */
.cuerpo li a .icono.proyecto {
  background-position: 0 0px;
}
/* line 250, ../sass/screen.scss */
.cuerpo li a .icono.libro {
  background-position: 0 -20px;
}
/* line 253, ../sass/screen.scss */
.cuerpo li a .icono.foto {
  background-position: 0 -40px;
}
/* line 256, ../sass/screen.scss */
.cuerpo li a .icono.video {
  background-position: 0 -60px;
}
/* line 259, ../sass/screen.scss */
.cuerpo li a .icono.texto, .cuerpo li a .icono.articulo {
  background-position: 0 -80px;
}
/* line 262, ../sass/screen.scss */
.cuerpo li a .icono.pelicula {
  background-position: 0 -100px;
}
/* line 265, ../sass/screen.scss */
.cuerpo li a .icono.link {
  background-position: 0 -120px;
}

/*Estilos de vistas individuales*/
/* line 272, ../sass/screen.scss */
.colorbackground-fullscreen {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 1000px;
  z-index: -300;
}

/* line 281, ../sass/screen.scss */
.image-fullscreen {
  background: 50% 50% no-repeat;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 1000px;
  z-index: -200;
}

/* line 291, ../sass/screen.scss */
.cuerpoPost {
  padding-top: 100px;
  width: 1152px;
  margin: 0px auto;
}
/* line 295, ../sass/screen.scss */
.cuerpoPost .tituloPost {
  display: block;
  color: black;
  font-size: 20px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 10px;
}
/* line 298, ../sass/screen.scss */
.cuerpoPost .subtituloPost {
  display: block;
  color: #888;
  font-size: 15px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
  padding-bottom: 40px;
}
/* line 301, ../sass/screen.scss */
.cuerpoPost .bodyPost p {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 19px;
  font-family: Helvetica,Arial,sans-serif;
  padding-bottom: 20px;
}
/* line 305, ../sass/screen.scss */
.cuerpoPost.video iframe, .cuerpoPost.video object {
  margin-right: auto;
  margin-left: auto;
  display: table-cell;
}
/* line 310, ../sass/screen.scss */
.cuerpoPost.video .bottomDescription {
  color: white;
  width: 850px;
  padding-top: 50px;
  margin: auto;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}
/* line 324, ../sass/screen.scss */
.cuerpoPost.libro .leftColumn {
  box-sizing: border-box;
  padding-right: 30px;
  width: 576px;
  float: left;
  z-index: 100;
}
/* line 331, ../sass/screen.scss */
.cuerpoPost.libro .cover {
  padding-top: 30px;
  display: table;
  width: 576px;
  float: right;
}
/* line 336, ../sass/screen.scss */
.cuerpoPost.libro .cover img {
  margin-right: auto;
  margin-left: auto;
  display: table-cell;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
}
/* line 344, ../sass/screen.scss */
.cuerpoPost.libro .cover figcaption {
  text-align: center;
  padding-top: 10px;
  display: block;
  color: #888;
  font-size: 10px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
}
/* line 352, ../sass/screen.scss */
.cuerpoPost.post .leftColumn {
  box-sizing: border-box;
  padding-right: 30px;
  width: 480px;
  float: left;
  z-index: 100;
}

/*Estilos de anchos de columna*/
/*Estilos de ocultar*/
/*Estilos de imagenes*/
/*Estilos de texto*/
/*Layouts*/
/* line 653, ../sass/screen.scss */
li.texto.una-col {
  width: 192px;
}
/* line 365, ../sass/screen.scss */
li.texto.una-col a {
  width: 192px;
}
/* line 572, ../sass/screen.scss */
li.texto.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 20px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 10px;
}

/* line 659, ../sass/screen.scss */
li.video.una-col,
li.articulo.una-col {
  width: 192px;
}
/* line 365, ../sass/screen.scss */
li.video.una-col a,
li.articulo.una-col a {
  width: 192px;
}
/* line 409, ../sass/screen.scss */
li.video.una-col .miniatura,
li.articulo.una-col .miniatura {
  margin-bottom: 10px;
  width: 160px;
  height: 94px;
}
/* line 413, ../sass/screen.scss */
li.video.una-col .miniatura img,
li.articulo.una-col .miniatura img {
  width: 160px;
}
/* line 549, ../sass/screen.scss */
li.video.una-col .texto .titulo,
li.articulo.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}

/* line 664, ../sass/screen.scss */
li.proyecto.una-col {
  width: 192px;
}
/* line 429, ../sass/screen.scss */
li.proyecto.una-col .miniatura {
  margin: 15px;
  width: 160px;
  height: 268px;
}
/* line 433, ../sass/screen.scss */
li.proyecto.una-col .miniatura img {
  height: 268px;
}
/* line 555, ../sass/screen.scss */
li.proyecto.una-col .texto {
  position: absolute;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  bottom: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 0.9);
  height: 176px;
  width: 192px;
}
/* line 565, ../sass/screen.scss */
li.proyecto.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
/* line 365, ../sass/screen.scss */
li.proyecto.una-col a {
  width: 192px;
}
/* line 371, ../sass/screen.scss */
li.proyecto.una-col a {
  padding: 0px;
}

/* line 672, ../sass/screen.scss */
li.articulo.dos-col,
li.link.dos-col,
li.pelicula.dos-col, li.documento.dos-col {
  width: 384px;
}
/* line 377, ../sass/screen.scss */
li.articulo.dos-col a,
li.link.dos-col a,
li.pelicula.dos-col a, li.documento.dos-col a {
  width: 384px;
}
/* line 507, ../sass/screen.scss */
li.articulo.dos-col .miniatura,
li.link.dos-col .miniatura,
li.pelicula.dos-col .miniatura, li.documento.dos-col .miniatura {
  margin-right: 15px;
  width: 177px;
  height: 270px;
}
/* line 511, ../sass/screen.scss */
li.articulo.dos-col .miniatura img,
li.link.dos-col .miniatura img,
li.pelicula.dos-col .miniatura img, li.documento.dos-col .miniatura img {
  height: 270px;
}
/* line 578, ../sass/screen.scss */
li.articulo.dos-col .texto,
li.link.dos-col .texto,
li.pelicula.dos-col .texto, li.documento.dos-col .texto {
  padding-right: 15px;
  position: absolute;
  top: 15px;
  left: 207px;
}
/* line 583, ../sass/screen.scss */
li.articulo.dos-col .texto .titulo,
li.link.dos-col .texto .titulo,
li.pelicula.dos-col .texto .titulo, li.documento.dos-col .texto .titulo {
  display: block;
  color: black;
  font-size: 20px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 10px;
}

/* line 677, ../sass/screen.scss */
li.libro.dos-col {
  width: 384px;
}
/* line 377, ../sass/screen.scss */
li.libro.dos-col a {
  width: 384px;
}
/* line 517, ../sass/screen.scss */
li.libro.dos-col .miniatura {
  margin-right: 15px;
  width: 177px;
  height: 270px;
}
/* line 521, ../sass/screen.scss */
li.libro.dos-col .miniatura img {
  height: 270px;
  margin-right: auto;
  margin-left: auto;
  display: table-cell;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
/* line 578, ../sass/screen.scss */
li.libro.dos-col .texto {
  padding-right: 15px;
  position: absolute;
  top: 15px;
  left: 207px;
}
/* line 583, ../sass/screen.scss */
li.libro.dos-col .texto .titulo {
  display: block;
  color: black;
  font-size: 20px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 10px;
}

/* line 682, ../sass/screen.scss */
li.proyecto.dos-col {
  width: 384px;
}
/* line 377, ../sass/screen.scss */
li.proyecto.dos-col a {
  width: 384px;
}
/* line 383, ../sass/screen.scss */
li.proyecto.dos-col a {
  padding: 0px;
}
/* line 533, ../sass/screen.scss */
li.proyecto.dos-col .miniatura {
  margin: 15px;
  width: 352px;
  height: 268px;
}
/* line 537, ../sass/screen.scss */
li.proyecto.dos-col .miniatura img {
  width: 384px;
}
/* line 589, ../sass/screen.scss */
li.proyecto.dos-col .texto {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  height: 300px;
  width: 192px;
  bottom: 0px;
  left: 192px;
}
/* line 600, ../sass/screen.scss */
li.proyecto.dos-col .texto .titulo {
  display: block;
  color: black;
  font-size: 20px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 10px;
}

/* line 688, ../sass/screen.scss */
li.link.una-col {
  width: 192px;
}
/* line 365, ../sass/screen.scss */
li.link.una-col a {
  width: 192px;
}
/* line 474, ../sass/screen.scss */
li.link.una-col .miniatura {
  margin-bottom: 10px;
  width: 160px;
  height: 190px;
}
/* line 478, ../sass/screen.scss */
li.link.una-col .miniatura img {
  height: 300px;
}
/* line 608, ../sass/screen.scss */
li.link.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}

/* line 695, ../sass/screen.scss */
li.foto.dos-col,
li.presentacion.dos-col {
  width: 384px;
}
/* line 377, ../sass/screen.scss */
li.foto.dos-col a,
li.presentacion.dos-col a {
  width: 384px;
}
/* line 464, ../sass/screen.scss */
li.foto.dos-col .miniatura,
li.presentacion.dos-col .miniatura {
  margin-bottom: 10px;
  width: 352px;
  height: 270px;
}
/* line 468, ../sass/screen.scss */
li.foto.dos-col .miniatura img,
li.presentacion.dos-col .miniatura img {
  height: 270px;
}
/* line 625, ../sass/screen.scss */
li.foto.dos-col .texto,
li.presentacion.dos-col .texto {
  text-align: right;
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  width: 160px;
  height: 80px;
  left: 15px;
  border: 1px solid silver;
  bottom: 13px;
  padding: 5px;
}
/* line 635, ../sass/screen.scss */
li.foto.dos-col .texto .titulo,
li.presentacion.dos-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
/* line 644, ../sass/screen.scss */
li.foto.dos-col .texto,
li.presentacion.dos-col .texto {
  width: 352px;
}
/* line 399, ../sass/screen.scss */
li.foto.dos-col a .fecha,
li.presentacion.dos-col a .fecha {
  display: none;
}

/* line 702, ../sass/screen.scss */
li.video.dos-col {
  width: 384px;
}
/* line 377, ../sass/screen.scss */
li.video.dos-col a {
  width: 384px;
}
/* line 439, ../sass/screen.scss */
li.video.dos-col .miniatura {
  margin-bottom: 10px;
  width: 352px;
  height: 190px;
}
/* line 443, ../sass/screen.scss */
li.video.dos-col .miniatura img {
  width: 352px;
}
/* line 446, ../sass/screen.scss */
li.video.dos-col .miniatura .icono_miniatura {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -87.5px;
  margin-left: -50px;
  z-index: 10;
  width: 352px;
  height: 268px;
  background: url(../images/video_icon.png) no-repeat;
}
/* line 456, ../sass/screen.scss */
li.video.dos-col .miniatura .icono_miniatura:hover {
  background: url(../images/video_icon.png) no-repeat;
  background-position: 0 -300px;
}
/* line 617, ../sass/screen.scss */
li.video.dos-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}

/* line 710, ../sass/screen.scss */
li.pelicula.una-col, li.documento.una-col {
  width: 192px;
}
/* line 365, ../sass/screen.scss */
li.pelicula.una-col a, li.documento.una-col a {
  width: 192px;
}
/* line 474, ../sass/screen.scss */
li.pelicula.una-col .miniatura, li.documento.una-col .miniatura {
  margin-bottom: 10px;
  width: 160px;
  height: 190px;
}
/* line 478, ../sass/screen.scss */
li.pelicula.una-col .miniatura img, li.documento.una-col .miniatura img {
  height: 300px;
}
/* line 608, ../sass/screen.scss */
li.pelicula.una-col .texto .titulo, li.documento.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}

/* line 715, ../sass/screen.scss */
li.libro.una-col {
  width: 192px;
}
/* line 365, ../sass/screen.scss */
li.libro.una-col a {
  width: 192px;
}
/* line 484, ../sass/screen.scss */
li.libro.una-col .miniatura {
  float: left;
  margin-bottom: 10px;
  width: 160px;
  height: 190px;
}
/* line 489, ../sass/screen.scss */
li.libro.una-col .miniatura img {
  height: 185px;
  margin-right: auto;
  margin-left: auto;
  display: table-cell;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
/* line 608, ../sass/screen.scss */
li.libro.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}

/* line 723, ../sass/screen.scss */
li.presentacion.una-col,
li.foto.una-col {
  width: 192px;
}
/* line 365, ../sass/screen.scss */
li.presentacion.una-col a,
li.foto.una-col a {
  width: 192px;
}
/* line 501, ../sass/screen.scss */
li.presentacion.una-col .miniatura,
li.foto.una-col .miniatura {
  width: 160px;
  height: 270px;
}
/* line 625, ../sass/screen.scss */
li.presentacion.una-col .texto,
li.foto.una-col .texto {
  text-align: right;
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  width: 160px;
  height: 80px;
  left: 15px;
  border: 1px solid silver;
  bottom: 13px;
  padding: 5px;
}
/* line 635, ../sass/screen.scss */
li.presentacion.una-col .texto .titulo,
li.foto.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
/* line 391, ../sass/screen.scss */
li.presentacion.una-col a .texto .subtitulo,
li.foto.una-col a .texto .subtitulo {
  display: none;
}
/* line 399, ../sass/screen.scss */
li.presentacion.una-col a .fecha,
li.foto.una-col a .fecha {
  display: none;
}
