/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 129, icon */
.icon-sprite, .icon-TwitterIcon, .icon-articulo, .icon-facebook, .icon-foto, .icon-libro, .icon-link, .icon-peilcula, .icon-proyecto, .icon-texto, .icon-twitter, .icon-video, .icon-videoplayer-small, .icon-videoplayer {
  background: url('/images/icon-sd18d4af223.png') no-repeat;
}

@font-face {
  font-family: 'DroidSans';
  src: url("fonts/DroidSans-webfont.eot");
  src: url("fonts/DroidSans-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/DroidSans-webfont.woff") format("woff"), url("fonts/DroidSans-webfont.ttf") format("truetype"), url("fonts/DroidSans-webfont.svg#DroidSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSerif';
  src: url("fonts/DroidSerif-Regular-webfont.eot");
  src: url("fonts/DroidSerif-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/DroidSerif-Regular-webfont.woff") format("woff"), url("fonts/DroidSerif-Regular-webfont.ttf") format("truetype"), url("fonts/DroidSerif-Regular-webfont.svg#DroidSerifRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSerif';
  src: url("fonts/DroidSerif-Italic-webfont.eot");
  src: url("fonts/DroidSerif-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/DroidSerif-Italic-webfont.woff") format("woff"), url("fonts/DroidSerif-Italic-webfont.ttf") format("truetype"), url("fonts/DroidSerif-Italic-webfont.svg#DroidSerifItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

/* line 60, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-TwitterIcon {
  background-position: 0 0;
}

/* line 60, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-articulo {
  background-position: 0 -24px;
}

/* line 60, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-facebook {
  background-position: 0 -44px;
}
/* line 43, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-facebook:hover, .icon-facebook.facebook_hover, .icon-facebook.facebook-hover {
  background-position: 0 -68px;
}

/* line 60, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-foto {
  background-position: 0 -92px;
}

/* line 60, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-libro {
  background-position: 0 -112px;
}

/* line 60, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-link {
  background-position: 0 -132px;
}

/* line 60, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-peilcula {
  background-position: 0 -152px;
}

/* line 60, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-proyecto {
  background-position: 0 -172px;
}

/* line 60, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-texto {
  background-position: 0 -192px;
}

/* line 60, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-twitter {
  background-position: 0 -212px;
}
/* line 43, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-twitter:hover, .icon-twitter.twitter_hover, .icon-twitter.twitter-hover {
  background-position: 0 -236px;
}

/* line 60, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-video {
  background-position: 0 -260px;
}
/* line 43, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-video:hover, .icon-video.video_hover, .icon-video.video-hover {
  background-position: 0 -280px;
}

/* line 60, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-videoplayer-small {
  background-position: 0 -380px;
}
/* line 43, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-videoplayer-small:hover, .icon-videoplayer-small.videoplayer-small_hover, .icon-videoplayer-small.videoplayer-small-hover {
  background-position: 0 -430px;
}

/* line 60, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-videoplayer {
  background-position: 0 -480px;
}
/* line 43, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-videoplayer:hover, .icon-videoplayer.videoplayer_hover, .icon-videoplayer.videoplayer-hover {
  background-position: 0 -580px;
}

/* line 114, ../sass/screen.scss */
body {
  font: normal 14px/20px Helvetica, Arial;
}

/* line 118, ../sass/screen.scss */
#loader_background {
  display: none;
  font: normal 16px/20px Helvetica, Arial;
  color: black;
  background: rgba(230, 230, 230, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 300;
}
/* line 128, ../sass/screen.scss */
#loader_background #loader_image {
  position: absolute;
  top: 50%;
  left: 50%;
  background: url(../images/loader_image.gif) no-repeat;
  width: 32px;
  height: 32px;
  opacity: 0.75;
}

/* line 139, ../sass/screen.scss */
header {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: black;
  z-index: 400;
}
/* line 145, ../sass/screen.scss */
header #cabecera {
  width: 1152px;
  color: white;
  margin-right: auto;
  margin-left: auto;
}
/* line 150, ../sass/screen.scss */
header #cabecera a {
  text-decoration: none;
}
/* line 153, ../sass/screen.scss */
header #cabecera #botones {
  display: table;
}
/* line 155, ../sass/screen.scss */
header #cabecera #botones h1 {
  height: 60px;
  width: 200px;
  display: table-cell;
  vertical-align: middle;
  z-index: 400;
}
/* line 161, ../sass/screen.scss */
header #cabecera #botones h1 a {
  color: #dcdcdc;
  display: block;
  font-size: 20px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  -moz-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
/* line 164, ../sass/screen.scss */
header #cabecera #botones h1 a:hover {
  color: white;
  -moz-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
}
/* line 171, ../sass/screen.scss */
header #cabecera #botones section.tweet {
  background: url(../images/dialog_mark.png) no-repeat 0 0;
  padding-left: 35px;
  padding-right: 35px;
  border-right: solid 1px white;
  height: 60px;
  width: 65%;
  display: table-cell;
  vertical-align: middle;
}
/* line 180, ../sass/screen.scss */
header #cabecera #botones section.tweet p {
  color: #dcdcdc;
  display: block;
  font-size: 14px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
}
/* line 184, ../sass/screen.scss */
header #cabecera #botones section.socialButtons {
  height: 60px;
  width: 18%;
  display: table-cell;
  vertical-align: middle;
}
/* line 189, ../sass/screen.scss */
header #cabecera #botones section.socialButtons .button a {
  padding-top: 11px;
  color: white;
  float: right;
  width: 70px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 60px;
  text-align: center;
  color: #dcdcdc;
  display: block;
  font-size: 11px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
  -moz-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
/* line 199, ../sass/screen.scss */
header #cabecera #botones section.socialButtons .button a .icon-facebook, header #cabecera #botones section.socialButtons .button a .icon-twitter {
  height: 24px;
  width: 24px;
  margin: auto;
  display: block;
  position: relative;
}
/* line 206, ../sass/screen.scss */
header #cabecera #botones section.socialButtons .button a:hover {
  color: white;
  -moz-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
}
/* line 211, ../sass/screen.scss */
header #cabecera #botones section.socialButtons .button a:hover .icon-facebook {
  background-position: 0 -68px;
}
/* line 216, ../sass/screen.scss */
header #cabecera #botones section.socialButtons .button a:hover .icon-twitter {
  background-position: 0 -236px;
}

/* line 225, ../sass/screen.scss */
footer {
  padding-top: 40px;
  padding-bottom: 40px;
  clear: both;
  display: block;
  color: #888;
  font-size: 10px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
  text-align: center;
}

/* line 233, ../sass/screen.scss */
#cuerpo {
  width: 1152px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
}
/* line 238, ../sass/screen.scss */
#cuerpo ul#grid {
  width: 1152px;
}
/* line 240, ../sass/screen.scss */
#cuerpo ul#grid li {
  height: 300px;
  float: left;
  position: relative;
}
/* line 244, ../sass/screen.scss */
#cuerpo ul#grid li.una-col:last-child a {
  width: 193px;
  border-right: 1px solid #dcdcdc;
}
/* line 248, ../sass/screen.scss */
#cuerpo ul#grid li.dos-col:last-child a {
  width: 385px;
  border-right: 1px solid #dcdcdc;
}
/* line 252, ../sass/screen.scss */
#cuerpo ul#grid li a {
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 15px;
  height: 300px;
  border-left: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}
/* line 262, ../sass/screen.scss */
#cuerpo ul#grid li a.cierrefila {
  border-right: 1px solid #dcdcdc;
}
/* line 265, ../sass/screen.scss */
#cuerpo ul#grid li a.fila1 {
  border-top: 1px solid #dcdcdc;
}
/* line 268, ../sass/screen.scss */
#cuerpo ul#grid li a .miniatura {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 272, ../sass/screen.scss */
#cuerpo ul#grid li a .texto {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 274, ../sass/screen.scss */
#cuerpo ul#grid li a .texto .subtitulo {
  display: block;
  color: #888;
  font-size: 12px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
}
/* line 278, ../sass/screen.scss */
#cuerpo ul#grid li a .fecha {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  color: #888;
  font-size: 10px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
  text-align: right;
  position: absolute;
  right: 30px;
  bottom: 6px;
}
/* line 286, ../sass/screen.scss */
#cuerpo ul#grid li a .icono {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 8px;
  bottom: 8px;
}

/*Estilos de vistas individuales*/
/* line 298, ../sass/screen.scss */
.colorbackground-fullscreen {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 1000px;
  z-index: -300;
}

/* line 307, ../sass/screen.scss */
.image-fullscreen {
  background: 50% 50% no-repeat;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 1000px;
  z-index: -200;
}

/* line 318, ../sass/screen.scss */
#cuerpo {
  padding-top: 120px;
}
/* line 320, ../sass/screen.scss */
#cuerpo .tituloPost {
  display: block;
  font-size: 28px;
  line-height: 36px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
}
/* line 323, ../sass/screen.scss */
#cuerpo .subtituloPost {
  display: block;
  opacity: 0.65;
  font-size: 18px;
  line-height: 24px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
  padding-top: 35px;
  padding-bottom: 35px;
}
/* line 327, ../sass/screen.scss */
#cuerpo .bodyPost a {
  color: inherit;
  text-decoration: underline;
}
/* line 330, ../sass/screen.scss */
#cuerpo .bodyPost a:hover {
  color: #646464;
}
/* line 333, ../sass/screen.scss */
#cuerpo .bodyPost a:link {
  color: inherit;
}
/* line 336, ../sass/screen.scss */
#cuerpo .bodyPost a:visited {
  color: inherit;
}
/* line 341, ../sass/screen.scss */
#cuerpo .bodyPost h3, #cuerpo .bodyPost h2, #cuerpo .bodyPost h4 {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
  padding-top: 10px;
  padding-bottom: 5px;
}
/* line 344, ../sass/screen.scss */
#cuerpo .bodyPost p:first-child {
  padding-top: 0px;
}
/* line 347, ../sass/screen.scss */
#cuerpo .bodyPost p {
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-family: Helvetica,Arial,sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 101, ../sass/screen.scss */
#cuerpo .bodyPost p strong {
  font-weight: bold;
}
/* line 350, ../sass/screen.scss */
#cuerpo .bodyPost figure {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 354, ../sass/screen.scss */
#cuerpo .bodyPost figcaption {
  font-style: italic;
  padding-top: 10px;
}
/* line 358, ../sass/screen.scss */
#cuerpo .bodyPost ul {
  margin-bottom: 30px;
  list-style-type: circle;
}
/* line 361, ../sass/screen.scss */
#cuerpo .bodyPost ul li {
  margin-bottom: 5px;
}
/* line 363, ../sass/screen.scss */
#cuerpo .bodyPost ul li a {
  text-decoration: none;
}
/* line 4, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
#cuerpo .bodyPost ul li a:hover {
  text-decoration: underline;
}
/* line 370, ../sass/screen.scss */
#cuerpo.video h1.tituloPost {
  font-size: 20px;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}
/* line 376, ../sass/screen.scss */
#cuerpo.video h2.subtituloPost {
  font-size: 14px;
  color: white;
  opacity: 1;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 30px;
}
/* line 384, ../sass/screen.scss */
#cuerpo.video p:first-child {
  text-indent: 0px;
}
/* line 387, ../sass/screen.scss */
#cuerpo.video p {
  text-indent: 20px;
}
/* line 390, ../sass/screen.scss */
#cuerpo.video a {
  color: white;
  text-decoration: underline;
}
/* line 393, ../sass/screen.scss */
#cuerpo.video a:hover {
  color: #646464;
}
/* line 398, ../sass/screen.scss */
#cuerpo.video iframe, #cuerpo.video object {
  margin-right: auto;
  margin-left: auto;
  display: table-cell;
  z-index: 200;
}
/* line 404, ../sass/screen.scss */
#cuerpo.video .bottomDescription {
  color: white;
  width: 850px;
  padding-top: 50px;
  margin: auto;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  -o-column-gap: 20px;
  column-gap: 20px;
}
/* line 414, ../sass/screen.scss */
#cuerpo.libro .leftColumn {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 30px;
  width: 576px;
  float: left;
  z-index: 100;
}
/* line 421, ../sass/screen.scss */
#cuerpo.libro .cover {
  padding-top: 30px;
  display: table;
  width: 576px;
  float: right;
}
/* line 426, ../sass/screen.scss */
#cuerpo.libro .cover img {
  margin-right: auto;
  margin-left: auto;
  display: table-cell;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
}
/* line 432, ../sass/screen.scss */
#cuerpo.libro .cover figcaption {
  text-align: center;
  padding-top: 10px;
  display: block;
  color: #888;
  font-size: 10px;
  font-family: DroidSans,Helvetica,Arial,sans-serif;
}
/* line 440, ../sass/screen.scss */
#cuerpo.post .leftColumn {
  min-height: 700px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 0px;
  width: 500px;
  float: left;
  z-index: 100;
}
/* line 448, ../sass/screen.scss */
#cuerpo.post .rightColumn {
  margin-left: 600px;
  padding-left: 50px;
  position: fixed;
  min-height: 700px;
  max-height: 1000px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 550px;
  z-index: 100;
  opacity: 0.5;
}

/* line 461, ../sass/screen.scss */
nav {
  color: black;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
/* line 469, ../sass/screen.scss */
nav a {
  text-decoration: none;
  pointer-events: all;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  max-width: 150px;
  min-width: 90px;
  font-size: 40px;
  margin: 0px;
  position: absolute;
  top: 0px;
  font-family: 'Lucida Grande';
  background-color: transparent;
  height: 100%;
  z-index: 200;
  opacity: 0.5;
  display: block;
  -moz-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
/* line 487, ../sass/screen.scss */
nav a span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 90px;
  height: 30px;
}
/* line 496, ../sass/screen.scss */
nav a:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.06);
  -moz-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
/* line 501, ../sass/screen.scss */
nav a#izquierda {
  margin-left: 5px;
  left: 0px;
}
/* line 504, ../sass/screen.scss */
nav a#izquierda span {
  margin-left: -5px;
}
/* line 508, ../sass/screen.scss */
nav a#derecha {
  margin-right: 5px;
  right: 0px;
}
/* line 511, ../sass/screen.scss */
nav a#derecha span {
  margin-right: -5px;
}

/*Estilos de anchos de columna*/
/*Estilos de imagenes*/
/*Estilos de texto*/
/*Layouts*/
/* line 822, ../sass/screen.scss */
#cuerpo ul#grid li.texto.una-col {
  width: 192px;
}
/* line 519, ../sass/screen.scss */
#cuerpo ul#grid li.texto.una-col a {
  width: 192px;
}
/* line 732, ../sass/screen.scss */
#cuerpo ul#grid li.texto.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 20px;
  line-height: 25px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 10px;
}
/* line 827, ../sass/screen.scss */
#cuerpo ul#grid li.articulo.una-col {
  width: 192px;
}
/* line 519, ../sass/screen.scss */
#cuerpo ul#grid li.articulo.una-col a {
  width: 192px;
}
/* line 551, ../sass/screen.scss */
#cuerpo ul#grid li.articulo.una-col .miniatura {
  margin-bottom: 10px;
  width: 160px;
  height: 94px;
}
/* line 555, ../sass/screen.scss */
#cuerpo ul#grid li.articulo.una-col .miniatura img {
  width: 160px;
}
/* line 738, ../sass/screen.scss */
#cuerpo ul#grid li.articulo.una-col .texto {
  padding-top: 10px;
}
/* line 740, ../sass/screen.scss */
#cuerpo ul#grid li.articulo.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
/* line 832, ../sass/screen.scss */
#cuerpo ul#grid li.video.una-col {
  width: 192px;
}
/* line 519, ../sass/screen.scss */
#cuerpo ul#grid li.video.una-col a {
  width: 192px;
}
/* line 561, ../sass/screen.scss */
#cuerpo ul#grid li.video.una-col:hover .icon-videoplayer-small {
  background-position: 0 -430px;
}
/* line 566, ../sass/screen.scss */
#cuerpo ul#grid li.video.una-col .miniatura {
  margin-bottom: 10px;
  width: 160px;
  height: 94px;
}
/* line 570, ../sass/screen.scss */
#cuerpo ul#grid li.video.una-col .miniatura img {
  width: 160px;
}
/* line 573, ../sass/screen.scss */
#cuerpo ul#grid li.video.una-col .miniatura .icon-videoplayer-small {
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 37px;
  margin-left: -25px;
}
/* line 738, ../sass/screen.scss */
#cuerpo ul#grid li.video.una-col .texto {
  padding-top: 10px;
}
/* line 740, ../sass/screen.scss */
#cuerpo ul#grid li.video.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
/* line 542, ../sass/screen.scss */
#cuerpo ul#grid li.video.una-col a {
  background-color: #f8f8f8;
  -moz-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
}
/* line 838, ../sass/screen.scss */
#cuerpo ul#grid li.proyecto.una-col {
  width: 192px;
}
/* line 709, ../sass/screen.scss */
#cuerpo ul#grid li.proyecto.una-col .miniatura {
  width: 174px;
  height: 282px;
}
/* line 712, ../sass/screen.scss */
#cuerpo ul#grid li.proyecto.una-col .miniatura img {
  height: 282px;
}
/* line 746, ../sass/screen.scss */
#cuerpo ul#grid li.proyecto.una-col .texto {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(255, 255, 255, 0.9);
  height: 206px;
  width: 192px;
}
/* line 756, ../sass/screen.scss */
#cuerpo ul#grid li.proyecto.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
/* line 519, ../sass/screen.scss */
#cuerpo ul#grid li.proyecto.una-col a {
  width: 192px;
}
/* line 525, ../sass/screen.scss */
#cuerpo ul#grid li.proyecto.una-col a {
  padding: 8px;
}
/* line 846, ../sass/screen.scss */
#cuerpo ul#grid li.articulo.dos-col,
#cuerpo ul#grid li.link.dos-col,
#cuerpo ul#grid li.pelicula.dos-col, #cuerpo ul#grid li.documento.dos-col {
  width: 384px;
}
/* line 531, ../sass/screen.scss */
#cuerpo ul#grid li.articulo.dos-col a,
#cuerpo ul#grid li.link.dos-col a,
#cuerpo ul#grid li.pelicula.dos-col a, #cuerpo ul#grid li.documento.dos-col a {
  width: 384px;
}
/* line 684, ../sass/screen.scss */
#cuerpo ul#grid li.articulo.dos-col .miniatura,
#cuerpo ul#grid li.link.dos-col .miniatura,
#cuerpo ul#grid li.pelicula.dos-col .miniatura, #cuerpo ul#grid li.documento.dos-col .miniatura {
  margin-right: 15px;
  width: 177px;
  height: 270px;
}
/* line 688, ../sass/screen.scss */
#cuerpo ul#grid li.articulo.dos-col .miniatura img,
#cuerpo ul#grid li.link.dos-col .miniatura img,
#cuerpo ul#grid li.pelicula.dos-col .miniatura img, #cuerpo ul#grid li.documento.dos-col .miniatura img {
  height: 270px;
}
/* line 762, ../sass/screen.scss */
#cuerpo ul#grid li.articulo.dos-col .texto,
#cuerpo ul#grid li.link.dos-col .texto,
#cuerpo ul#grid li.pelicula.dos-col .texto, #cuerpo ul#grid li.documento.dos-col .texto {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  height: 300px;
  width: 192px;
  bottom: 0px;
  left: 192px;
}
/* line 770, ../sass/screen.scss */
#cuerpo ul#grid li.articulo.dos-col .texto .titulo,
#cuerpo ul#grid li.link.dos-col .texto .titulo,
#cuerpo ul#grid li.pelicula.dos-col .texto .titulo, #cuerpo ul#grid li.documento.dos-col .texto .titulo {
  display: block;
  color: black;
  font-size: 20px;
  line-height: 25px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 10px;
}
/* line 851, ../sass/screen.scss */
#cuerpo ul#grid li.libro.dos-col {
  width: 384px;
}
/* line 531, ../sass/screen.scss */
#cuerpo ul#grid li.libro.dos-col a {
  width: 384px;
}
/* line 694, ../sass/screen.scss */
#cuerpo ul#grid li.libro.dos-col .miniatura {
  margin-right: 15px;
  width: 177px;
  height: 270px;
}
/* line 698, ../sass/screen.scss */
#cuerpo ul#grid li.libro.dos-col .miniatura img {
  margin-top: 5px;
  height: 260px;
  margin-right: auto;
  margin-left: auto;
  display: table-cell;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
/* line 762, ../sass/screen.scss */
#cuerpo ul#grid li.libro.dos-col .texto {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  height: 300px;
  width: 192px;
  bottom: 0px;
  left: 192px;
}
/* line 770, ../sass/screen.scss */
#cuerpo ul#grid li.libro.dos-col .texto .titulo {
  display: block;
  color: black;
  font-size: 20px;
  line-height: 25px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 10px;
}
/* line 856, ../sass/screen.scss */
#cuerpo ul#grid li.proyecto.dos-col {
  width: 384px;
}
/* line 531, ../sass/screen.scss */
#cuerpo ul#grid li.proyecto.dos-col a {
  width: 384px;
}
/* line 537, ../sass/screen.scss */
#cuerpo ul#grid li.proyecto.dos-col a {
  padding: 8px;
}
/* line 718, ../sass/screen.scss */
#cuerpo ul#grid li.proyecto.dos-col .miniatura {
  width: 366px;
  height: 282px;
}
/* line 721, ../sass/screen.scss */
#cuerpo ul#grid li.proyecto.dos-col .miniatura img {
  height: 282px;
}
/* line 762, ../sass/screen.scss */
#cuerpo ul#grid li.proyecto.dos-col .texto {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  height: 300px;
  width: 192px;
  bottom: 0px;
  left: 192px;
}
/* line 770, ../sass/screen.scss */
#cuerpo ul#grid li.proyecto.dos-col .texto .titulo {
  display: block;
  color: black;
  font-size: 20px;
  line-height: 25px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 10px;
}
/* line 862, ../sass/screen.scss */
#cuerpo ul#grid li.link.una-col {
  width: 192px;
}
/* line 519, ../sass/screen.scss */
#cuerpo ul#grid li.link.una-col a {
  width: 192px;
}
/* line 644, ../sass/screen.scss */
#cuerpo ul#grid li.link.una-col .miniatura {
  margin-bottom: 10px;
  width: 160px;
  max-height: 190px;
  display: table;
}
/* line 649, ../sass/screen.scss */
#cuerpo ul#grid li.link.una-col .miniatura img {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
  vertical-align: middle;
  display: table-cell;
  width: 152px;
  margin: 4px;
}
/* line 777, ../sass/screen.scss */
#cuerpo ul#grid li.link.una-col .texto {
  padding-top: 10px;
}
/* line 779, ../sass/screen.scss */
#cuerpo ul#grid li.link.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
/* line 542, ../sass/screen.scss */
#cuerpo ul#grid li.link.una-col a {
  background-color: #f8f8f8;
  -moz-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
}
/* line 870, ../sass/screen.scss */
#cuerpo ul#grid li.foto.dos-col,
#cuerpo ul#grid li.presentacion.dos-col {
  width: 384px;
}
/* line 531, ../sass/screen.scss */
#cuerpo ul#grid li.foto.dos-col a,
#cuerpo ul#grid li.presentacion.dos-col a {
  width: 384px;
}
/* line 621, ../sass/screen.scss */
#cuerpo ul#grid li.foto.dos-col .miniatura,
#cuerpo ul#grid li.presentacion.dos-col .miniatura {
  margin-bottom: 10px;
  width: 352px;
  height: 270px;
}
/* line 625, ../sass/screen.scss */
#cuerpo ul#grid li.foto.dos-col .miniatura img,
#cuerpo ul#grid li.presentacion.dos-col .miniatura img {
  height: 270px;
}
/* line 793, ../sass/screen.scss */
#cuerpo ul#grid li.foto.dos-col .texto,
#cuerpo ul#grid li.presentacion.dos-col .texto {
  text-align: right;
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  width: 160px;
  height: 80px;
  left: 15px;
  border: 1px solid silver;
  bottom: 13px;
  padding: 5px;
}
/* line 803, ../sass/screen.scss */
#cuerpo ul#grid li.foto.dos-col .texto .titulo,
#cuerpo ul#grid li.presentacion.dos-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
/* line 812, ../sass/screen.scss */
#cuerpo ul#grid li.foto.dos-col .texto,
#cuerpo ul#grid li.presentacion.dos-col .texto {
  width: 352px;
}
/* line 876, ../sass/screen.scss */
#cuerpo ul#grid li.video.dos-col {
  width: 384px;
}
/* line 531, ../sass/screen.scss */
#cuerpo ul#grid li.video.dos-col a {
  width: 384px;
}
/* line 596, ../sass/screen.scss */
#cuerpo ul#grid li.video.dos-col:hover .icon-videoplayer {
  background-position: 0 -580px;
}
/* line 601, ../sass/screen.scss */
#cuerpo ul#grid li.video.dos-col .miniatura {
  margin-bottom: 10px;
  width: 352px;
  height: 190px;
}
/* line 605, ../sass/screen.scss */
#cuerpo ul#grid li.video.dos-col .miniatura img {
  width: 352px;
}
/* line 608, ../sass/screen.scss */
#cuerpo ul#grid li.video.dos-col .miniatura .icon-videoplayer {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -87.5px;
  margin-left: -50px;
  z-index: 10;
  width: 100px;
  height: 100px;
}
/* line 785, ../sass/screen.scss */
#cuerpo ul#grid li.video.dos-col .texto {
  padding-top: 10px;
}
/* line 787, ../sass/screen.scss */
#cuerpo ul#grid li.video.dos-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
/* line 882, ../sass/screen.scss */
#cuerpo ul#grid li.pelicula.una-col {
  width: 192px;
}
/* line 519, ../sass/screen.scss */
#cuerpo ul#grid li.pelicula.una-col a {
  width: 192px;
}
/* line 631, ../sass/screen.scss */
#cuerpo ul#grid li.pelicula.una-col .miniatura {
  margin-bottom: 10px;
  width: 160px;
  height: 190px;
  display: table;
}
/* line 636, ../sass/screen.scss */
#cuerpo ul#grid li.pelicula.una-col .miniatura img {
  vertical-align: middle;
  display: table-cell;
  width: 160px;
}
/* line 777, ../sass/screen.scss */
#cuerpo ul#grid li.pelicula.una-col .texto {
  padding-top: 10px;
}
/* line 779, ../sass/screen.scss */
#cuerpo ul#grid li.pelicula.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
/* line 542, ../sass/screen.scss */
#cuerpo ul#grid li.pelicula.una-col a {
  background-color: #f8f8f8;
  -moz-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
}
/* line 888, ../sass/screen.scss */
#cuerpo ul#grid li.documento.una-col {
  width: 192px;
}
/* line 519, ../sass/screen.scss */
#cuerpo ul#grid li.documento.una-col a {
  width: 192px;
}
/* line 631, ../sass/screen.scss */
#cuerpo ul#grid li.documento.una-col .miniatura {
  margin-bottom: 10px;
  width: 160px;
  height: 190px;
  display: table;
}
/* line 636, ../sass/screen.scss */
#cuerpo ul#grid li.documento.una-col .miniatura img {
  vertical-align: middle;
  display: table-cell;
  width: 160px;
}
/* line 777, ../sass/screen.scss */
#cuerpo ul#grid li.documento.una-col .texto {
  padding-top: 10px;
}
/* line 779, ../sass/screen.scss */
#cuerpo ul#grid li.documento.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
/* line 893, ../sass/screen.scss */
#cuerpo ul#grid li.libro.una-col {
  width: 192px;
}
/* line 519, ../sass/screen.scss */
#cuerpo ul#grid li.libro.una-col a {
  width: 192px;
}
/* line 660, ../sass/screen.scss */
#cuerpo ul#grid li.libro.una-col .miniatura {
  float: left;
  margin-bottom: 10px;
  width: 160px;
  height: 190px;
}
/* line 665, ../sass/screen.scss */
#cuerpo ul#grid li.libro.una-col .miniatura img {
  height: 185px;
  margin-right: auto;
  margin-left: auto;
  display: table-cell;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
/* line 777, ../sass/screen.scss */
#cuerpo ul#grid li.libro.una-col .texto {
  padding-top: 10px;
}
/* line 779, ../sass/screen.scss */
#cuerpo ul#grid li.libro.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
/* line 542, ../sass/screen.scss */
#cuerpo ul#grid li.libro.una-col a {
  background-color: #f8f8f8;
  -moz-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
}
/* line 901, ../sass/screen.scss */
#cuerpo ul#grid li.presentacion.una-col,
#cuerpo ul#grid li.foto.una-col {
  width: 192px;
}
/* line 519, ../sass/screen.scss */
#cuerpo ul#grid li.presentacion.una-col a,
#cuerpo ul#grid li.foto.una-col a {
  width: 192px;
}
/* line 675, ../sass/screen.scss */
#cuerpo ul#grid li.presentacion.una-col .miniatura,
#cuerpo ul#grid li.foto.una-col .miniatura {
  width: 160px;
  height: 270px;
}
/* line 678, ../sass/screen.scss */
#cuerpo ul#grid li.presentacion.una-col .miniatura img,
#cuerpo ul#grid li.foto.una-col .miniatura img {
  height: 270px;
}
/* line 793, ../sass/screen.scss */
#cuerpo ul#grid li.presentacion.una-col .texto,
#cuerpo ul#grid li.foto.una-col .texto {
  text-align: right;
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  width: 160px;
  height: 80px;
  left: 15px;
  border: 1px solid silver;
  bottom: 13px;
  padding: 5px;
}
/* line 803, ../sass/screen.scss */
#cuerpo ul#grid li.presentacion.una-col .texto .titulo,
#cuerpo ul#grid li.foto.una-col .texto .titulo {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: DroidSerif,Helvetica,Arial,sans-serif;
  padding-bottom: 5px;
}
