/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$frame_width_fino: 8px;
$frame_width: 15px;
$borde_stroke: 1px;
$una_col_width: 192px;
$dos_col_width: 384px;
$una_col_width_menos_frame: $una_col_width - ($frame_width * 2) - ($borde_stroke * 2);
$dos_col_width_menos_frame: $dos_col_width - ($frame_width * 2) - ($borde_stroke * 2);
$miniatura_short: 94px;
$miniatura_tall: 190px;
$fullheight: 300px;
$fullheight_menos_frame: $fullheight - ($frame_width * 2) - ($borde_stroke * 2);
$padding_overlay: 5px;

$borde: $borde_stroke solid rgb(220,220,220);
$borde2: $borde_stroke solid silver;
$fondo_overlay: rgba(255,255,255,0.95);
$fondo_overlay2: rgba(255,255,255,0.90);

@mixin header-font {
	display: block;
	color: white;
	font-size: 20px;
	font-family: DroidSerif,Helvetica,Arial,sans-serif;
}
@mixin header-tweet {
	color: white;
	font-size: 14px;
	font-family: DroidSans,Helvetica,Arial,sans-serif;
}
@mixin header-button {
	display: block;
	color: white;
	font-size: 20px;
	font-family: DroidSerif,Helvetica,Arial,sans-serif;
}
@mixin header1-font {
	display: block;
	color: black;
	font-size: 20px;
	font-family: DroidSerif,Helvetica,Arial,sans-serif;
	padding-bottom: 10px;
}
@mixin header2-font {
	display: block;
	color: black;
	font-size: 14px;
	line-height: 17px;
	font-family: DroidSerif,Helvetica,Arial,sans-serif;
	padding-bottom: 5px;
}
@mixin body-font {
	display: block;
	color: #888;
	font-size: 12px;
	font-family: DroidSans,Helvetica,Arial,sans-serif;
}
@mixin small-font {
	display: block;
	color: #888;
	font-size: 10px;
	font-family: DroidSans,Helvetica,Arial,sans-serif;
}
@mixin title-post-font {
	display: block;
	font-size: 20px;
	font-family: DroidSerif,Helvetica,Arial,sans-serif;
	padding-bottom: 30px;
}
@mixin subtitle-post-font {
	display: block;
	opacity: 0.65;
	font-size: 16px;
	font-family: DroidSans,Helvetica,Arial,sans-serif;
	padding-bottom: 40px;
}
@mixin body-post-font {
	display: block;
	font-size: 14px;
	line-height: 20px;
	font-family: Helvetica,Arial,sans-serif;
	padding-bottom: 20px;
}
a {
	color: black;
	text-decoration: none;
	&:hover .titulo{
		color: navy;
		text-decoration:underline;
	};
}
body{
	font: normal 14px/20px Helvetica,Arial
}
//Loader estilo
#loader_background{
	display:none;
	font: normal 16px/20px Helvetica,Arial;
	color:black;
	background: rgba(230,230,230,0.5);
	position:fixed;
	width:100%;
	height:100%;
	text-align: center;
	z-index:300;
	#loader_image{
		position: absolute;
		top:50%;
		left:50%;
		background: url(../images/loader_image.gif) no-repeat;
		width:32px;
		height:32px;
		opacity: 0.75;
	}
}
//Cabecera estilo
header{
	width: 100%;
	height: 60px;
	position: fixed;
	background-color: black;
	z-index: 400;
	#cabecera{
		width: 192px * 6;
		color:white;
		margin-right: auto;
		margin-left: auto;
		#botones{
			display: table;
			h1{
				height: 60px;
				width: 200px;
				display: table-cell;
				vertical-align: middle;
				z-index:  40;
				a{
					@include header-font;
				}
			}
			section.tweet{
				background: url(../images/dialog_mark.png) no-repeat 0 0;
				padding-left: 35px;
				padding-right: 35px;
				border-right: solid 1px white;
				height: 60px;
				width: 65%;
				display: table-cell;
				vertical-align: middle;
				p{
					@include header-tweet;
				}
			}
			section.socialButtons{
				height: 60px;
				width: 18%;
				display: table-cell;
				vertical-align: middle;
				.facebook a{
					background: url(../images/FacebookIcon.png) no-repeat;
					background-position:center 12px;
				}
				.twitter a{
					background: url(../images/TwitterIcon.png) no-repeat;
					background-position:center 12px;
				}
				a{
					box-sizing: border-box;
					float:right;
					width:70px;
					padding-top: 35px;
					padding-left: 10px;
					padding-right: 10px;
					display: table-cell;
					height: 60px;
					text-align: center;
					vertical-align: middle;
					color: rgba(255,255,255,0.75);
					font-size: 11px;
					font-family: DroidSans,Helvetica,Arial,sans-serif;
					
					&:hover{
						color: rgba(255,255,255,1);
						background-position:center -36px;
					};
				}
			}
		}
	}
}
footer{
	padding-top: 40px;
	padding-bottom: 40px;
	clear: both;
	@include small-font;
	text-align: center;
}
// Estilos en vista principal
#cuerpo {
	width: 192px * 6;
	margin-right: auto;
	margin-left: auto;
	padding-top: 100px;
	ul{
		width: 192px * 6;
		li{
			height: $fullheight;
			float: left;
			position: relative;
			&.una-col:last-child a{
				width: $una_col_width + $borde_stroke;
				border-right: $borde;
			}
			&.dos-col:last-child a{
				width: $dos_col_width + $borde_stroke;
				border-right: $borde;
			}
			a{
				box-sizing: border-box;
				position: relative;
				overflow: hidden;
				float: left;
				padding: $frame_width;
				height: $fullheight;
				border-left: $borde;
				border-bottom: $borde;
				&.cierrefila{
					border-right: $borde;
				}
				&.fila1{
					border-top: $borde;
				}
				.miniatura{
					box-sizing: border-box;
					overflow: hidden;
				}
				.texto{
					box-sizing: border-box;
					.subtitulo{
						@include body-font;
					}
				}
				.fecha{
					box-sizing: border-box;
					@include small-font;
					text-align: right;
					position: absolute;
					right: $frame_width + 15px;
					bottom: 6px;
				}
				.icono{
					position: absolute;
					width: 20px;
					height: 20px;
					right: 8px;
					bottom: 8px;
					background: url(../images/iconos.png) no-repeat;
					&.proyecto{
						background-position: 0 0px;
					}
					&.libro{
						background-position: 0 -20px;
					}
					&.foto{
						background-position: 0 -40px;
					}
					&.video{
						background-position: 0 -60px;
					}
					&.texto, &.articulo {
						background-position: 0 -80px;
					}
					&.pelicula{
						background-position: 0 -100px;
					}
					&.link{
						background-position: 0 -120px;
					}
				}
			}
		}
	}
}
/*Estilos de vistas individuales*/
.colorbackground-fullscreen {
	position:fixed;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	height:1000px;
	z-index: -300;
}
.image-fullscreen {
	background: 50% 50% no-repeat;
	position:fixed;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	height:1000px;
	z-index: -200;
}

#cuerpo {
	padding-top: 120px;
	.tituloPost{
		@include title-post-font;
	}
	.subtituloPost{
		@include subtitle-post-font;
	}
	.bodyPost p{
		@include body-post-font;
	}
	&.video{
		iframe, object{
			margin-right: auto;
			margin-left: auto;
			display: table-cell;
		}
		.bottomDescription{
			color:white;
			width: 850px;
			padding-top: 50px;
			margin:auto;
			-moz-column-count: 2;
			-moz-column-gap: 20px;
			-webkit-column-count: 2;
			-webkit-column-gap: 20px;
			column-count: 2;
			column-gap: 20px;
		}
	}
	&.libro{
		.leftColumn{
			box-sizing: border-box;
			padding-right:30px;
			width: 192px * 3;
			float:left;
			z-index: 100;
		}
		.cover{
			padding-top: 30px;
			display: table;
			width: 192px * 3;
			float:right;
			img{
				margin-right: auto;
				margin-left: auto;
				display: table-cell;
				-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
				-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
				box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
			}
			figcaption{
				text-align: center;
				padding-top: 10px;
				@include small-font;
			}
		}
	}
	&.post{
		.leftColumn{
			min-height:700px;
			box-sizing: border-box;
			padding-right:30px;
			width: 192px * 2.5;
			float:left;
			z-index: 100;
		}
	}
}

/*Estilos de anchos de columna*/
@mixin una-col{
	width: $una_col_width;
	a{
		width: $una_col_width;
	}
}
@mixin una-col-proyecto{
	@include una-col;
	a{
		padding: $frame_width_fino;
	}
}
@mixin dos-col{
	width: $dos_col_width;
	a{
		width: $dos_col_width;
	}
}
@mixin dos-col-proyecto{
	@include dos-col;
	a{
		padding: $frame_width_fino;
	}
}
@mixin recomendacion{
	a{
		background-color: rgb(248,248,248);
		-moz-box-shadow:inset 0px 0px 3px rgba(0,0,0,0.25);
		-webkit-box-shadow:inset 0px 0px 3px rgba(0,0,0,0.25);
		box-shadow:inset 0px 0px 3px rgba(0,0,0,0.25);
	}
}
/*Estilos de imagenes*/
//Aqui se definen todos los estilos de imagenes disponibles

@mixin imagen-horizontal-small{
	.miniatura{
		margin-bottom: 10px;
		width: $una_col_width_menos_frame;
		height: $miniatura_short;
		img{
			width: $una_col_width_menos_frame;
		}
	}
}
@mixin imagen-horizontal-small-video{
	.miniatura{
		margin-bottom: 10px;
		width: $una_col_width_menos_frame;
		height: $miniatura_short;
		img{
			width: $una_col_width_menos_frame;
		}
		.icono_miniatura{
			position:absolute;
			margin-top: $frame_width;
			margin-left: $frame_width;
			z-index:10;
			width: $una_col_width_menos_frame;
			height: $miniatura_short;
			background: url(../images/video_icon_small.png) no-repeat;
			background-position-x: $una_col_width/2 - 50px;
			background-position-y: $miniatura_short/2 - 25px;
			&:hover{
				background: url(../images/video_icon_small.png) no-repeat;
					background-position-x: $una_col_width/2 - 50px;
					background-position-y: $miniatura_short/2 - 25px - 150px;
			}
		}
	}
}
@mixin imagen-horizontal{
	.miniatura{
		margin-bottom: 10px;
		width: $dos_col_width_menos_frame;
		height: $miniatura_tall;
		img{
			width: $dos_col_width_menos_frame;
		}
	}
}

@mixin imagen-horizontal-video{
	.miniatura {
		margin-bottom: 10px;
		width: $dos_col_width_menos_frame;
		height: $miniatura_tall;
		img{
			width: $dos_col_width_menos_frame;
		}
		.icono_miniatura{
			position:absolute;
			left:50%;
			top:50%;
			margin-top: - $miniatura_tall/2 + $frame_width/2;
			margin-left: -50px;
			z-index:10;
			width: $dos_col_width_menos_frame;
			height: $fullheight_menos_frame;
			background: url(../images/video_icon.png) no-repeat;
			&:hover{
				background: url(../images/video_icon.png) no-repeat;
				background-position: 0 -300px;
			}
		}
	} 
}
@mixin imagen-horizontal-full{
	.miniatura{
		margin-bottom: 10px;
		width: $dos_col_width_menos_frame;
		height: $fullheight_menos_frame + ($borde_stroke * 2);
		img{
			height: $fullheight_menos_frame + ($borde_stroke * 2);
		}
	}
}
@mixin imagen-vertical{
	.miniatura{
		margin-bottom: 10px;
		width: $una_col_width_menos_frame;
		height: $miniatura_tall;
		display: table;
		img{
			vertical-align: middle;
			display: table-cell;
			width: $una_col_width_menos_frame;
		}
	}
}
@mixin imagen-vertical-link{
	.miniatura{
		margin-bottom: 10px;
		width: $una_col_width_menos_frame;
		max-height: $miniatura_tall;
		display: table;
		img{
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			border-radius: 4px;
			-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
			-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
			box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
			vertical-align: middle;
			display: table-cell;
			width: $una_col_width_menos_frame - 8px;
			margin: 4px;
		}
	}
}
@mixin imagen-vertical-libro{
	.miniatura{
		float:left;
		margin-bottom: 10px;
		width: $una_col_width_menos_frame;
		height: $miniatura_tall;
		img{
			height: $miniatura_tall - 5px;
			margin-right: auto;
			margin-left: auto;
			display: table-cell;
			-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
			-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
		}
	}
}
@mixin imagen-vertical-full-narrow{
	.miniatura{
		width: $una_col_width_menos_frame;
		height: $fullheight_menos_frame + ($borde_stroke * 2);
	}
}
@mixin imagen-vertical-full{
	.miniatura{
		margin-right: $frame_width;
		width: $una_col_width - $frame_width;
		height: $fullheight_menos_frame + ($borde_stroke * 2);
		img{
			height: $fullheight_menos_frame + ($borde_stroke * 2);
		}
	}
}
@mixin imagen-vertical-full-libro{
	.miniatura{
		margin-right: $frame_width;
		width: $una_col_width - $frame_width;
		height: $fullheight_menos_frame + ($borde_stroke * 2);
		img{
			margin-top:5px;
			height: $fullheight_menos_frame + ($borde_stroke * 2) - 10px;
			margin-right: auto;
			margin-left: auto;
			display: table-cell;
			-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
			-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
		}
	}
}
@mixin imagen-una-col-proyecto{
	.miniatura{
		width: $una_col_width - ($frame_width_fino * 2) - ($borde_stroke * 2);
		height: $fullheight - ($frame_width_fino * 2) - ($borde_stroke * 2);
		img{
			 height:$fullheight - ($frame_width_fino * 2) - ($borde_stroke * 2);
		}
	}
}
@mixin imagen-dos-col-proyecto{
	.miniatura{
		width: $dos_col_width - ($frame_width_fino * 2) - ($borde_stroke * 2);
		height: $fullheight - ($frame_width_fino * 2) - ($borde_stroke * 2);
		img{
			 height:$fullheight - ($frame_width_fino * 2) - ($borde_stroke * 2);
		}
	}
}

/*Estilos de texto*/
//Aqui se definen todos los estilos de texto disponibles

@mixin texto-una-col-sinfoto{
	.texto{
		.titulo{
			@include header1-font;
		}
	}
}
@mixin texto-una-col{
	.texto{
		padding-top: 10px;
		.titulo{
			@include header2-font;
		}
	}
}
@mixin texto-una-col-proyecto{
	.texto{
		position:absolute;
		bottom:0px;
		left:0px;
		padding-top: $padding_overlay * 2;
		padding-left: $frame_width;
		padding-right: $frame_width;
		background: $fondo_overlay2;
		height: $fullheight - $miniatura_short;
		width:$una_col_width;
		.titulo{
			@include header2-font;
		}
	}
}
@mixin texto-dos-col{
	.texto{
		position: absolute;
		background: $fondo_overlay2;
		padding: $frame_width;
		height: $fullheight;
		width:$una_col_width;
		bottom:0px;
		left: $una_col_width;
		.titulo{
			@include header1-font;
		}
	}
}

@mixin texto-caption-una-col{
	.texto{
		padding-top: 10px;
		.titulo{
			@include header2-font;
		}
	}
}
@mixin texto-caption-dos-col{
	.texto{
		padding-top: 10px;
		.titulo{
			@include header2-font;
		}
	}
}
@mixin texto-overlay-una-col{
	.texto{
		text-align: right;
		background: $fondo_overlay;
		position: absolute;
		width: $una_col_width_menos_frame;
		height: $fullheight - $miniatura_tall - 2*$frame_width;
		left: $frame_width;
		border: $borde2;
		bottom: $frame_width - 2*$borde_stroke;
		padding: $padding_overlay;
		.titulo{
			@include header2-font;
		}
		.subtitulo{
		}
	}
}
@mixin texto-overlay-dos-col{
	@include texto-overlay-una-col;
	.texto{
		width: $dos_col_width_menos_frame;
	}
}

/*Layouts*/
//Aqui se definen los layouts para todos los tipos de post, intentar que todo este hecho utilizando includes
#cuerpo{ 
	ul{
		//Layout la1
		li.texto.una-col{
			@include una-col;
			@include texto-una-col-sinfoto;
		}
		//Layout la2
		li.articulo.una-col{	
			@include una-col;
			@include imagen-horizontal-small;
			@include texto-una-col;
		}
		li.video.una-col {
			@include una-col;
			@include imagen-horizontal-small-video;
			@include texto-una-col;
			@include recomendacion;
		}
		li.proyecto.una-col {
			@include imagen-una-col-proyecto;
			@include texto-una-col-proyecto;
			@include una-col-proyecto;
		}
	//Layout la3
		li.articulo.dos-col,
		li.link.dos-col,
		li.pelicula.dos-col, li.documento.dos-col{
			@include dos-col;
			@include imagen-vertical-full;
			@include texto-dos-col;
		}
		li.libro.dos-col {
			@include dos-col;
			@include imagen-vertical-full-libro;
			@include texto-dos-col;
		}
		li.proyecto.dos-col{
			@include dos-col-proyecto;
			@include imagen-dos-col-proyecto;
			@include texto-dos-col;
		}
		//Layout la4A
		li.link.una-col{
			@include una-col;
			@include imagen-vertical-link;
			@include texto-caption-una-col;
			@include recomendacion;
		}
		//Layout la4B
		li.foto.dos-col,
		li.presentacion.dos-col{
			@include dos-col;
			@include imagen-horizontal-full;
			@include texto-overlay-dos-col;
		}
		//Layout la4C
		li.video.dos-col{
			@include dos-col;
			@include imagen-horizontal-video;
			@include texto-caption-dos-col;
		}
		//Layout la5A
		li.pelicula.una-col{
			@include una-col;
			@include imagen-vertical;
			@include texto-caption-una-col;
			@include recomendacion;
		}
		li.documento.una-col{
			@include una-col;
			@include imagen-vertical;
			@include texto-caption-una-col;
		}
		li.libro.una-col{
			@include una-col;
			@include imagen-vertical-libro;
			@include texto-caption-una-col;
			@include recomendacion;
		}
		//Layout la5B
		li.presentacion.una-col,
		li.foto.una-col{
			@include una-col;
			@include imagen-vertical-full-narrow;
			@include texto-overlay-una-col;
		}
	}
}