---
layout: default
title: Página personal de Javier Burón García
---

<section id="cuerpo">
	<ul id="grid">
	{% comment %}
	Solucion para ir rellenando cada fila al completo, utilizamos tres variables:
	contador, temp, an_integer, como liquid no puede hacer operaciones aritmeticas
	utilizamos el metodo .size para contar en una cadena de caracteres y capture para sumar http://forums.shopify.com/categories/1/posts/31824 lo he duplicado para utilizar filas y columnas
	{% endcomment %}

	{% assign contador_columna = '' %}
	{% assign contador_fila = '' %}
	{% assign contador_columna = temp1 %}
	{% assign contador_fila = temp2 %}
	{% capture temp1 %}{{ contador_columna }}*{% endcapture %}
	{% capture temp2 %}{{ contador_fila }}*{% endcapture %}
	{% assign an_integer1 = contador_columna.size %}
	{% assign an_integer2 = contador_fila.size %}

	{% for post in site.posts %}
		{% case post.style  %}
		{% when "una-col"  %}
			{% capture temp1 %}{{ contador_columna }}*{% endcapture %}
		{% when "dos-col"  %}
			{% capture temp1 %}{{ contador_columna }}**{% endcapture %}
		{% endcase  %}	
		{% assign contador_columna = temp1 %}
		{% assign contador_fila = temp2 %}
		{% assign an_integer1 = contador_columna.size %}
		{% assign an_integer2 = contador_fila.size %}
		{% if an_integer1 == 6 %}
				{% assign acortado = 0 %}
				<li class="{{ post.category }} {{ post.style }}">
					{% assign contador_columna = '' %}
					{% capture temp1 %}{{ contador_columna }}*{% endcapture %}
					{% assign an_integer1 = contador_columna.size %}
					{% capture temp2 %}{{ contador_fila }}*{% endcapture %}
					{% assign an_integer2 = contador_fila.size %}
					<a href="{{ post.url }}" class="fila{{ an_integer2 }} cierrefila">
			{% else %}
			{% if an_integer1 > 5 %}
				{% assign acortado = 1 %}
				<li class="{{ post.category }} una-col">
					{% assign contador_columna = '' %}
					{% capture temp1 %}{{ contador_columna }}*{% endcapture %}
					{% assign an_integer1 = contador_columna.size %}
					{% capture temp2 %}{{ contador_fila }}*{% endcapture %}
					{% assign an_integer2 = contador_fila.size %}
					<a href="{{ post.url }}" class="fila{{ an_integer2 }} cierrefila">
			{% else %}
				{% assign acortado = 0 %}
				<li class="{{ post.category }} {{ post.style }}">
					<a href="{{ post.url }}" class="fila{{ an_integer2 }}">
			{% endif %}
		{% endif %}
				{% if post.category == 'texto' %}
				{% else %}
				<div class="miniatura">
					<div class="icono_miniatura"></div>
					<img src="http://{{ post.image }}.jpg">
				</div>
				{% endif %}
				{% if post.overlay %}
				{% else %}
				<div class="texto">
					<span class="titulo">{{ post.title }}</span>
					{% if post.style == "una-col" or acortado == 1 %}
						{% case post.category  %}
						{%  when "pelicula" or "libro" or "link" %}
						<span class="subtitulo">{{ post.subtitle | truncate: 40 }}</span>
						{%  when "proyecto" or "articulo" or "video" %}
						<span class="subtitulo">{{ post.subtitle | truncate: 120 }}</span>
						{%  when "texto" %}
						<span class="subtitulo">{{ post.subtitle }}</span>
						{% endcase  %}
					{% else  %}
						{% if post.category == "video" or post.category == "presentacion" or post.category == "foto" %}
						<span class="subtitulo">{{ post.subtitle | truncate: 100 }}</span>
						{% else  %}
						<span class="subtitulo">{{ post.subtitle | truncate: 240 }}</span>
						{% endif  %}
					{% endif  %}	
				</div>
				<span class="icono {{ post.category }}"></span>
				{% endif %}
				{% if post.category == 'texto' or post.category == 'foto' %}
				{% else %}
				<span class="fecha">{{ post.date | date_to_string }}</span>
				{% endif %}
			</a>
		</li>
	{% endfor %}
	</ul>
</section>