<header>
	<div id="cabecera">
		<div id="botones">
			<h1><a href="{{ site.url }}">Javier Burón García</a></h1>
			<section class="tweet">
				<p>@asana really great software, congratulations guys! I think my trusty #omnifocus is about to retire…</p>
			</section>
			<section class="socialButtons">
				<div class="twitter button">
					<a href="#">
						<span>Tweet</span>
					</a>
				</div>
				<div class="facebook button">
					<a href="#">
						<span>Like</span>
					</a>
				</div>
			</section>
		</div>
	</div>
</header>