<header>
	<div id="cabecera">
		<div id="botones">
			<h1><a href="/">Javier Burón García</a></h1>
			<section class="tweet">
				<p id="ultimo_tweet"></p>
			</section>
			<section class="socialButtons">
				<div class="twitter button">
					<a href="http://twitter.com/share?url=&amp;via=javiburon&amp;text=">
						<span>Tweet</span>
					</a>
				</div>
				<div class="facebook button">
					<a href="http://www.facebook.com/sharer.php?u=http://&t=">
						<span>Like</span>
					</a>
				</div>
			</section>
		</div>
	</div>
</header>