<meta charset='UTF-8'/>
<meta name='robots' content='index'/>
<link rel='stylesheet' href='/css/screen.css' type='text/css'/>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if lt IE 8]>
<link rel='stylesheet' href='/css/ie.css' type='text/css'/>	
<![endif]-->
<link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />
<link rel='alternate' type='application/rss+xml' title='RSS' href='/rss.xml' />
<script src='/javascript/jquery.js' type='text/javascript'></script>
<script src='/javascript/site.js' type='text/javascript'></script>

{% if page.layout == "default" %}

<meta name="Description" content="{{ site.posts[0].subtitle }}">

<meta itemprop="name" content="Página personal de Javier Burón García">
<meta itemprop="description" content="{{ site.posts[0].subtitle }}">
<meta itemprop="author" content="Javier Burón García">
<meta itemprop="image" content="{{ site.url }}/images/screenshot.jpg" />
<meta itemprop="url" content="{{ site.url }}" />

<meta property="og:title" content="Página personal de Javier Burón García" />
<meta property="og:description" content="{{ site.posts[0].subtitle }}" />
<meta property="og:image" content="{{ site.url }}/images/screenshot.jpg" />
<meta property="og:url" content="{{ site.url }}" />
{% else %}
<script src='/javascript/Hyphenator.js' type='text/javascript'></script>

<meta name="Description" content="{{ page.subtitle }}">

<meta itemprop="name" content="{{ page.title }}">
<meta itemprop="description" content="{{ page.subtitle }}">
<meta itemprop="author" content="Javier Burón García">
<meta itemprop="image" content="http://{{ page.image }}_m.jpg" />
<meta itemprop="url" content="{{ site.url }}{{ page.url }}" />

<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.subtitle }}" />
<meta property="og:image" content="http://{{ page.image }}_m.jpg" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
{% endif %}