<!DOCTYPE html>
{% if page.language == 'en' %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/Article">
{% else %}
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/Article">
{% endif %}
<head>
	<title>{{ page.title }}</title>
{% include _scripts.html %}
</head>
<body id="contenedor">
	<div id="fb-root"></div>
	<fb:add-to-timeline></fb:add-to-timeline>
	{% include _header.html %}
	<div id="loader_background">
		<span id="loader_image"></span>
	</div>
	{{ content }}
	{% include _footer.html %}
</body>
</html>