---
layout: individual
---

<div class="colorbackground-fullscreen" style="background: {{ page.background_color }}"></div>
{% if page.background_image %}
<div class="image-fullscreen" style="background-image:url(/images/blog/{{ page.background_image }})"></div>
{% else %}
{% endif %}
<article id="cuerpo" class="libro">
	<div class="leftColumn">
		<hgroup>
			<h1 class="tituloPost">{{page.title}}</h1>
			<h2 class="subtituloPost">{{page.subtitle}}</h2>
		</hgroup>
		<div class="bodyPost hyphenate text" lang="es">
		{{ content }}
		</div>
	</div>
	<figure class="cover">
		<img src="http://{{ page.image }}.jpg">
		<figcaption>{{ page.image_caption }}</figcaption>
	</figure>
</article>
{% include _navigation.html %}